<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DPX - Desenvolvimento de Planilhas em Excel</title>
    <link rel="stylesheet" href="@Url.Content("Assets/Stylesheets/reset.css")"/>
    <link rel="stylesheet" href="@Url.Content("Assets/stylesheets/app.css")"/>
    <link rel="stylesheet" href="@Url.Content("Assets/stylesheets/carrousel.css")"/>
</head>
<body ng-app="dpx">
    <div id="topline"></div>

    <div id="header" class="unselectable">
        <img src="~/Assets/Images/logo.png" alt="DPX" />
        <h1>
            Desenvolvimento<br />
            de Planilhas em Excel</h1>
        <div id="menu">
            <ul>
                <li><a href="#" class="active">Capa</a> </li>
                <li class="separator">|</li>
                <li><a href="#">Empresa</a> </li>
                <li class="separator">|</li>
                <li><a href="#">Serviços</a> </li>
                <li class="separator">|</li>
                <li><a href="#">Clientes</a> </li>
                <li class="separator">|</li>
                <li><a href="#">Contato</a> </li>
            </ul>
        </div>
    </div>

    @RenderBody()

    <div class="clear"></div>

    <div id="footer" class="unselectable">
        <div class="sitemap">
            <ul>
                <li>
                    <a href="#">Capa</a>
                </li>
                <li>
                    <a href="#">Empresa</a>
                </li>
                <li>
                    <a href="#">Serviços</a>
                </li>
                <li>
                    <a href="#">Clientes</a>
                </li>
                <li>
                    <a href="#">Contato</a>
                </li>
            </ul>
        </div>

        <div class="social">
            <a href="http://facebook.com" target="_blank"><img src="~/Assets/Images/32x32-Square-57-FB.png" alt="Facebook" /></a>
            <a href="http://twitter.com" target="_blank"><img src="~/Assets/Images/32x32-Square-63-TW.png" alt="Twitter" /></a>
            <br />
            <br />
            <a href="http://linkedin.com" target="_blank"><img src="~/Assets/Images/32x32-Square-59-LI.png" alt="LinkedIn" /></a>
            <a href="http://plus.google.com" target="_blank"><img src="~/Assets/Images/32x32-Square-83-GP.png" alt="Google+" /></a>
        </div>

        <div class="text">
            <span>&copy; 2013 DPX - Todos os direitos reservados</span>
            <span class="trid">Desenvolvido por <img src="~/Assets/Images/Logo-TriD-Light-40.png" /></span>
        </div>
    </div>

    <script type="text/javascript" src="@Url.Content("Assets/javascripts/libraries/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content("Assets/javascripts/libraries/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("Assets/javascripts/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("Assets/javascripts/directives/mouseenter.js")"></script>
    <script type="text/javascript" src="@Url.Content("Assets/javascripts/directives/mouseout.js")"></script>
    <script type="text/javascript" src="@Url.Content("Assets/javascripts/directives/fadein.js")"></script>
    <script type="text/javascript" src="@Url.Content("Assets/javascripts/controllers/carrousel.js")"></script>
</body>
</html>